#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* NAV */

/* BOTÃO */

.body{
  background-color: rgb(88, 46, 5);
}
.card {
  display: flex;
  flex-direction: row;
  height: 300px  ;
  width: 660px;
  border: solid 2px rgb(58, 1, 1);
  display: flex;
  border-radius: 15px;
  background-color: rgb(255, 223, 180);
  box-shadow: 10px 13px 20px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 13px 20px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 20px -8px rgba(0,0,0,0.75);  
}

.imagem {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.img {
  height: 210px;
  width: 210px;
  border-radius: 10px;
}

.h3 {
  color: rgb(102, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  margin-bottom: 0px;
}

.h4 {
  margin: 10px;
  color: rgb(102, 0, 0);
  font-family: "Ubuntu", sans-serif;
}

.nome {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  max-width: 50%;
}
