#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.body{
  background-color: rgb(248, 252, 255);
}
.card {
  height: 640px  ;
  width: 400px;
  border: solid 2px rgb(206, 206, 206);
  display: flex;
  border-radius: 15px;
  background-color: white;
}